services:
  dvwa:
    image: vulnerables/web-dvwa
    container_name: dvwa_app
    environment:
    - MYSQL_PASS=password
    restart: unless-stopped
  nginx-modsec:
    image: owasp/modsecurity-crs:nginx
    container_name: waf_nginx_modsec
    depends_on:
    - dvwa
    environment:
    - BACKEND=http://dvwa_app:80
    - SERVERNAME=localhost
    - PORT=8080
    - SSL_PORT=8443
    - MODSEC_AUDIT_ENGINE=On
    - MODSEC_AUDIT_LOG=/var/log/nginx/modsec_audit.log
    - MODSEC_AUDIT_LOG_FORMAT=JSON
    ports:
    - 8080:8080
    - 8443:8443
    volumes:
    - type: bind
      source: ./patches
      target: /etc/modsecurity/patches
      read_only: true
    - waf_logs:/var/log/nginx
volumes:
  waf_logs:
networks:
  default:
    name: waf_net
